* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

#registration-form {
    max-width: 400px;
}

.password {
    border: 3px solid black;
    max-width: 350px;
    padding: 10px;
}
.password * {
    display: block;
}

#password,
#confirmPassword {
    width: 80%;
}
.password__field {
    width: 100%;
    margin: 1rem;
}

.password__field input {
    margin: 0.5rem 0;
}

.password__field input:focus {
    border-color: aqua;
    border: 1px solid aqua;
    outline: none;
}

.display-errors {
    visibility: hidden;
    color: red;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(47, 143, 221);
    color: #fff;
}

button[disabled],
button:disabled {
    background: rgb(212, 211, 211);
}

.valid {
    color: green;
}
